* {
  overflow-x: hidden;
}

.app-body {
  height: auto;
  width: 100vw;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar-body {
  height: 100%;
  background-color: #ffffff;
  padding: 0;
}

.sidebar-body .container-fluid {
  height: 100%;
  width: 100%;
  background-color: white;
}

.sidebar-body .container-fluid .list-group-item {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.sidebar-body .container-fluid .list-group-item .logotext {
  font-size: medium;
  margin: 0;
}

.sidebar-body .container-fluid .list-group-item .bi {
  font-size: larger;
  color: #969696;
  margin: 0 15px 0 0;
  -webkit-text-stroke: 0.5px;
}

.sidebar-body .container-fluid .list-group-item .badge {
  margin-left: 40px;
}

.sidebar-body .container-fluid .list-group-item .collapse > ul {
  border-left: 1px solid gray;
  border-radius: 0;
}

.sidebar-body .container-fluid .list-group-item .collapse > ul li {
  font-size: smaller;
  color: darkgrey;
}

.sidebar-body .container-fluid .list-group-item button {
  border: none;
  background: none;
}

.sidebar-body .container-fluid .list-group-item button .bi {
  font-size: larger;
  color: #969696;
  margin: 0 15px 0 0;
  -webkit-text-stroke: 0.5px;
}

.searchbar-body {
  height: 60px;
  width: inherit;
  background-color: #ffffff;
}

.searchbar-body label {
  color: gray;
  padding: 0 20px;
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbar-body button {
  color: gray;
  padding: 0 20px;
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
}

.searchbar-body input {
  width: 100%;
  border: none;
}

.searchbar-body input:focus {
  outline: none;
}

.home-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

.home-body .sidebar {
  height: 100vh;
  width: 20%;
  z-index: 3;
  -webkit-box-shadow: 5px 0px 10px #d6d6d6;
          box-shadow: 5px 0px 10px #d6d6d6;
  position: fixed;
}

.home-body .content {
  margin-left: 20%;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.home-body .content .container .company {
  height: 100px;
  margin: 0 25px;
}

.home-body .content .container .company .company-logo {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.home-body .content .container .company .parent .company-details {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-body .content .container .company .parent .company-details h6 {
  font-size: 100%;
  height: auto;
  overflow: hidden;
}

.home-body .content .container .company .parent .company-details p {
  font-size: 0.8rem;
  height: auto;
}

.home-body .content .container .company .parent .company-details span {
  font-size: 0.75rem;
  height: auto;
}

.home-body .content .container .company button {
  padding: 0.5rem 1rem;
}

.home-body .content .header {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  resize: none;
}

.home-body .content .header .searchbar {
  z-index: 2;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px #e6e6e6;
          box-shadow: 0px 10px 10px #e6e6e6;
  position: fixed;
  top: 0;
}

.home-body .content .header .header-text {
  z-index: 1;
  height: 60%;
  position: absolute;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
}

.home-body .content .header .header-text .text {
  background-color: #F7F7F7;
}

.home-body .content .header .header-text .text .main-text {
  width: 75%;
  font-size: 2.25rem;
  font-weight: 600;
}

.home-body .content .header .header-text .text .sub-text {
  font-size: 1.1rem;
  color: #525252;
}

.home-body .content .header .header-text img {
  height: 100%;
}

.home-body .content .header .waves {
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-body .content .teams {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
}

.home-body .content .teams h3 {
  font-weight: 500;
  overflow: hidden;
}

.home-body .content .teams .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.home-body .content .teams .logos svg {
  height: 120px;
}

.home-body .content .reviews {
  height: 90vh;
}

.home-body .content .reviews h2 {
  font-weight: 500;
  overflow: hidden;
}

.home-body .content .reviews .row {
  height: 80%;
}

.home-body .content .reviews .row .col {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-body .content .reviews .row .col .profiles {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  padding: 20px 15px;
  position: relative;
  border-radius: 3px;
}

.home-body .content .reviews .row .col .profiles i {
  font-size: 45px;
  position: relative;
  top: -15px;
  color: pink;
}

.home-body .content .reviews .row .col .profiles img {
  width: 8rem;
}

.home-body .content .reviews .row .col .profiles .text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0 0 0.75rem;
}

.home-body .content .reviews .row .col .profiles .text p {
  height: 50%;
  font-size: 0.85rem;
  font-weight: 500;
}

.home-body .content .reviews .row .col .profiles .text .details {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.home-body .content .reviews .row .col .profiles .text .details .name {
  height: 30%;
  overflow: hidden;
  font-size: 0.7rem;
}

.home-body .content .reviews .row .col .profiles .text .details .c-logo {
  height: 70%;
}

.home-body .content .reviews .row .col .profiles .text .details .c-logo svg {
  position: absolute;
  top: 0;
  height: 5rem;
}
/*# sourceMappingURL=app.css.map */